* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -ms-user-select:none;
    user-select:none;
    
}
*::-webkit-scrollbar {
    display: none;
  }

:root {
    --title_top: 23%;
    --secondary_color: #FE842B;
    scroll-behavior: smooth;
  }
#canvas1 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#2c192c, #000000);
    z-index: -1;
}
header{
    height: 100%;
    width: 100%;
}
header .container{
    width: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    position: absolute;
    text-align: center;
    padding: 30px 0;
}
nav table{
    width: auto;
    margin-left:10%;
}
nav a{
    text-decoration: none;
    color: rgb(184, 182, 182);
    font-size: 1.5rem;
    text-shadow: inset 10px 10px black;
    /*font-family: 'Agency FB';*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
nav a:hover {
    text-shadow: 0px 0px 5px purple;
    color: rgb(129, 86, 129)
}
nav td {
    padding: 0 20px;
}

header h1 {
    font-family: 'Agency FB';
    color: white;
    letter-spacing: 0.5rem;
    position: absolute;
    top: var(--title_top);
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 6rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
    animation-name: drawText;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
header h1 span{
    color: purple;
}
@keyframes drawText {
    from{opacity: 0; top: calc(var(--title_top) + 3%);}
    to{opacity: 1; top: var(--title_top);}
}
.article{
    font-size: 2em;
    width: 1050px;
    height: auto;
    left: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid purple;
  }
.article:last-of-type{
    padding-bottom: 50px;
}
.article h1{
    color: purple;
    padding-bottom: 40px;
}
.algo{
    display: flex;
    justify-content: space-around;
}
.algo > div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.algo-container{
    position: relative;
    width: 300px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 15px -5px slategrey;
    user-select: all;
}

.algo-image-container{
    position: absolute;
    overflow: hidden;
    width: 300px;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: transform .4s;

}

.algo-container:hover > .algo-image-container{
    transform: scale(1.1);
}
.algo-image-container img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
}
.algo-container-content{
    margin: 0px;
    margin-top: 300px;
    background-color: white;
    background-clip: border-box;
    padding: 25px;
    width: 100%;
}
.align-left{
    text-align: left;
}
.align-left .float{
    float: right;
    margin: 20px;
}
.align-right{
    text-align: right;
    border-top: 1px solid var(--secondary_color);
}
.align-right .float{
    float: left;
    margin: 20px;
}
.align-right h1 {
    color: var(--secondary_color);
}
.hover-shadow:hover{
    box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.85);
}
aside{
    position: absolute;
    left: 50px;
    top: calc(100% + 50px);
    width: 20%;
    max-width: 200px;
    background-color: transparent;
    color: purple;
    margin: 0px;
}
aside p{
    padding: 20px;
    min-width: 150px;
    height: auto;
    margin-bottom: 30px;
    font-size: 1.3em;
    border-radius: 25px;
    border: 2px solid purple;
}
aside p:hover{
    background-color: #80008022;
}
footer{
    background-color: #303030;
    color: white;
    min-width: 10%;
    font-size: 4em;
    text-align: center;
    padding: 30px;
}






