/* 5 - https://coolors.co/00ffc5-adf5ff-0075a2-07004d-ecb0e1 */

/* CSS HEX */
--sea-green-crayola: #00ffc5ff;
--celeste: #adf5ffff;
--celadon-blue: #0075a2ff;
--midnight-blue: #07004dff;
--orchid-crayola: #ecb0e1ff;

/* CSS HSL */
--sea-green-crayola: hsla(166, 100%, 50%, 1);
--celeste: hsla(187, 100%, 84%, 1);
--celadon-blue: hsla(197, 100%, 32%, 1);
--midnight-blue: hsla(245, 100%, 15%, 1);
--orchid-crayola: hsla(311, 61%, 81%, 1);

/* SCSS HEX */
$sea-green-crayola: #00ffc5ff;
$celeste: #adf5ffff;
$celadon-blue: #0075a2ff;
$midnight-blue: #07004dff;
$orchid-crayola: #ecb0e1ff;

/* SCSS HSL */
$sea-green-crayola: hsla(166, 100%, 50%, 1);
$celeste: hsla(187, 100%, 84%, 1);
$celadon-blue: hsla(197, 100%, 32%, 1);
$midnight-blue: hsla(245, 100%, 15%, 1);
$orchid-crayola: hsla(311, 61%, 81%, 1);

/* SCSS RGB */
$sea-green-crayola: rgba(0, 255, 197, 1);
$celeste: rgba(173, 245, 255, 1);
$celadon-blue: rgba(0, 117, 162, 1);
$midnight-blue: rgba(7, 0, 77, 1);
$orchid-crayola: rgba(236, 176, 225, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-right: linear-gradient(90deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-bottom: linear-gradient(180deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-left: linear-gradient(270deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-top-right: linear-gradient(45deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-bottom-right: linear-gradient(135deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-top-left: linear-gradient(225deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-bottom-left: linear-gradient(315deg, #00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);
$gradient-radial: radial-gradient(#00ffc5ff, #adf5ffff, #0075a2ff, #07004dff, #ecb0e1ff);